.dashboard {
  display: grid;
  min-height: 100vh;
  background-color: #dfdfdf;

  .topBar {
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 60px;
    background-color: #ffffff;
  }

  input {
    padding: 10px;
    border-radius: 4px;
    border-color: #dfdfdf;
    border-style: solid;
    width: 400px;
  }
}
